*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: #DDF7E3;
}

header{
    text-align: center;
    font-size: large;
    margin: 15px;
    /* background-color: #3A1078; */
}

.title{
    width: 60%;
    height: 50px;
    margin: 2% 20%;
    padding: 20px 15px;
    border-radius: 7px;
    font-size: large;
}

#push{
    background-color: yellow;
    position: absolute;
    width: 70px;
    height: 46px;
    top: 13.8%;
    left: 75.4%;
    font-size: larger;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.close{
    width: 55px;
    height: 55px;
    position: absolute;
    top: 13%;
    left: 90.2%;
    font-size: 40px;
    margin: 7px 0;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease;
}

.close:hover{
    background-color: red;
    transform: scale(1.1);
}

.tasks{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row; 
    width: 60%;
    height: 70vh;
    margin: 1% 20%;
}

.pendingTask{
    /* width: 38%; */
    height: 60vh;
    flex: 1;
    margin: 0 2%;
}

.pendingTask h1{
    text-align: center;
    padding: 10px 0;
}

.completeTask{
    width: 38%;
    height: 60vh;
    flex: 1;
    margin: 0 2%;
}

.completeTask h1{
    text-align: center;
    padding: 10px 0;
}

#pendTask{
    height: 45px;
    width: 100%;
    /* background-color: #5D9C59; */
    margin: 10px 0;
    /* padding: 10px 0; */
}

.task{
    height: 45px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 8px;
    border: 1px solid black;
    /* cursor: pointer; */
    margin: 30px 0;
    /* background-color: #5D9C59; */
}

#taskName{
    padding-left: 15px;
    margin: 10px 0;
    font-size: large;
}

.delete{
    float: right;
    padding-right: 5px;
    /* padding-bottom: 5px; */
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

.check{
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding-left: 66%;
    
}

.delete:hover{
    color: #d11a2a;
    transform: scale(1.1);
}

#time{
    padding-left: 65%;
    padding-bottom: 3px;
    font-size: large;
    font-weight: 400;
}

#check{
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}


